<div style="text-align:center; font-family:'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif">
  <div style="display:inline-block; background-color:#F5F7FB; border:1px solid #d3d3d3; padding: 25px 70px">
  
    <h1 style="margin-bottom:30px">
      Password Change Request
    </h1>

    <p>
      We've received a request to reset your Sequin password.</b>
    </p>

    <p style="margin-bottom:45px;">
      If you requested this reset, then please click the link below to reset your password:
    </p>

    <a style="background: <%= @color %>;color: #ffffff; padding: 10px 15px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);border: 1px solid transparent;text-decoration:none;" href="<%= @url %>">
      Reset Password
    </a>

    <p style="margin-top:45px;">
      If you didn't request this, please disregard this email and make sure you can still login to your account.
    </p>

    <p>
      This link will expire in two hours.
      <br/>
      Thanks
      <br/>
      Sequin
    </p>
  </div>
</div>